* {
  padding: 0;
  margin: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#wrapper {
  padding-top: 100px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(18, 42, 70, 1) 0%,
    rgba(5, 5, 7, 1) 100%
  );
  padding: 100px 5%;
  transition: 1s;
}

nav {
  background-color: #000000;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}
a {
  color: #ffffff;
}

.link:visited {
  color: #ffffff;
}

.link:hover {
  color: #ffffff;
}
.link {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  text-decoration: none;
  list-style: none;
}

tr th {
  font-size: larger;
  color: white;
  display: flex;
  justify-content: center;
}

/* 
table {
  border: none; 
} */
.table th,
.table td {
  display: flex;
  justify-content: space-around;
  color: #fff;
  border-top: 1px solid #303d51;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
h1 {
  color: #fff;
}

.buttons {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.container,
.buttons {
  width: 60%;
}

.footer {
  background-color: #000000;
}

/* +++++++++++++++++++++++ACCUEIL++++++++++++++++++++++++++++++++++ */

.textLanding {
  text-align: center;
  padding-bottom: 50px;
}

.h1Landing {
  font-size: 30px;
}

.pLanding {
  margin-top: -15px;
  font-size: 25px;
  color: #c2c2c2;
  font-weight: light;
  line-height: normal;
}

.containerUn {
  overflow: hidden;
  border-radius: 15px;
}

.scrolling-wrapper {
  display: flex;
  /* overflow: hidden; */
  width: 100%;
  position: relative;
  transform: translateX(0%);
  transition: transform 600ms ease-out;
}

.scrolling-card {
  flex: 0 0 auto;
  width: 100%;

  /* animation: scroll 33s linear infinite; */
}

.scrolling-img {
  width: 100%;
  height: auto;
}

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
} */

.scrolling-state {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.scrolling-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b6b6b6;
  margin: 0 5px;
  transition: transform 0.6s ease-out, background-color 0.6s linear;
}

.active {
  transform: scale(1.5);
  background-color: #fff;
  border-radius: 50%;
}

.containerDeux {
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.accueilCardUn,
.accueilCardDeux,
.accueilCardTrois {
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 0 30px 0 30px;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.accueilCardUn .filter,
.accueilCardDeux .filter,
.accueilCardTrois .filter {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(18, 42, 70, 0.63) 10%,
    rgba(5, 5, 7, 0.856) 100%
  );
  /* transition: 0.3s ease; */
}

.accueilCardUn:hover .cardImage,
.accueilCardDeux:hover .cardImage,
.accueilCardTrois:hover .cardImage {
  transform: scale(1.1);
}

/* .darkened-image {
  background-image:
  linear-gradient(180deg, rgba(18, 42, 70, 0.808) 0%, rgb(5, 5, 7) 100%), url(
'https://static.cnews.fr/sites/default/files/styles/image_750_422/public/angela_weiss_643815e5e0550_0.jpg?itok=6shNtEAh');
 
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition:  0.3s ease;
} */

.accueilCardUn a,
.accueilCardDeux a,
.accueilCardTrois a {
  font-size: 20px;
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  z-index: 1; /* Place le lien au-dessus du pseudo-élément  .filter */
}

.accueilCardUn a:hover,
.accueilCardDeux a:hover,
.accueilCardTrois a:hover {
  color: #ffffff;
}

.miaou {
  padding-top: 50px;
}

/* +++++++++++++++++++++FILMS+++++++++++++++++++++++++++++ */

/* LIST FILMS */

.wrapList {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.cateFilm {
  margin-left: 50px;
  padding-top: 50px;
}

.filmContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
}

.filmList {
  display: flex;
  flex-direction: row;
  transition: 1s;
}

.filmCard {
  transition: 1s;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollButton {
  display: flex;
  background-color: rgba(1, 3, 19, 0.815);
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  height: 35px;
  border-radius: 25px;
  align-items: center;
}

.scrollButton:hover {
  background-color: gray;
}

.filmPoster {
  border-radius: 10px;
}

.filmTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.712);
  overflow: hidden;
  transition: 1s;
  border-radius: 0 0 10px 10px;
}

/* FILM DETAILS */
.filmDetails {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.afficheDet {
  max-height: 700px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.detTitre {
  padding-top: 20px;
}

.detFilmCorps {
  padding-top: 80px;
}

.resume {
  padding-top: 20px;
  text-align: justify;
}

.cast {
  padding-top: 20px;
}

/* AJOUT FILM */

.checkbox {
  display: flex;
  height: 90px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.checkElement {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.checkLabel {
  padding: 4px;
}

/* ++++++++++++++++++++++ACTEURS+++++++++++++++++++++++++++++++++ */
/* LISTACTEURS */

.acteurContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
}

.acteurList {
  display: flex;
  flex-direction: row;
  transition: 1s;
}

.afficheList {
  height: 350px;
  width: 300px;
  object-fit: cover;
  transition: 1s;
  border-radius: 10px 10px 0 0;
}

.acteurCard {
  transition: 1s;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acteurTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.712);
  overflow: hidden;
  transition: 1s;
  border-radius: 0 0 10px 10px;
}

/* DETAILS ACTEURS */

.acteurDetails {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contPortrait {
  height: 500px;
  width: 450px;
}

.portraitDet {
  height: 500px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  object-fit: cover;
  border-radius: 10px;
}

.detTitre {
  padding-top: 20px;
}

.detActCorps {
  padding-top: 80px;
  padding-left: 20px;
  width: 100%;
}

.resume {
  padding-top: 20px;
  text-align: justify;
}
.casting {
  padding-bottom: 25px;
}

.castLabel {
  font-size: larger;
  font-weight: 500;
  padding-top: 10px;
}

/* ++++++++++++++++++REALISATEURS++++++++++++++++++++++ */

.realContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
}

.realList {
  display: flex;
  flex-direction: row;
  transition: 1s;
}

.portraitDet {
  height: 450px;
  width: 375px;
  object-fit: cover;
  transition: 1s;
  border-radius: 10px;
}

.realCard {
  transition: 1s;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.realTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.712);
  overflow: hidden;
  transition: 1s;
  border-radius: 0 0 10px 10px;
}

.filmoContainer {
  padding: 25px;
  border-radius: 25px;
  /* background-color: #15214d47; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.afficheDetReal {
  height: 250px;
  width: 200px;
  object-fit: cover;
  transition: 1s;
  border-radius: 10px 10px 0 0;
}

.titleDet {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.712);
  overflow: hidden;
  transition: 1s;
  border-radius: 0 0 10px 10px;
}

/* +++++++++++++++++++++GENRES+++++++++++++++++++++++++ */

.listGenres {
  display: flex;
  height: 250px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.listGenreElements {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.genreElement {
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
}

/* +++++++++++++++++MODIFICATIONS+++++++++++++++++++++++++++ */

.ajout {
  background-color: #0000005b;
  border-radius: 15px;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.choiceLabel {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.choices {
  width: 100%;
  display: flex;
}

.choice {
  padding: 10px;
}

.modifForm {
  flex-direction: column;
}

.titreForm {
  font-size: larger;
}
